.App {
  text-align: center;
}

.app__h1 {
  margin: 0;
  color: #31a5f1;
}
.app__image {
  width: 350px;
  height: auto;
  margin-bottom: 0;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e6e3e9;
  width: 94%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__iconButton {
  flex: 0;
}

.app__input {
  flex: 1;
}
